@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model ProductionPlanner.Models.Domain.ProductionPlan
}

<h2>Hasil Perataan Produksi</h2>

<table class="table mt-5" border="1">
    <tr>
        <th>Hari</th>
        <th>Awal Rencana Produksi</th>
        <th>Perbaikan Rencana Produksi</th>
    </tr>
    @for (int i = 0; i < Model.InitialPlan.Count; i++)
    {
        <tr>
            <td>@Enum.GetName(typeof(DayOfWeek), (i + 1) % 7)</td>
            <td>@Model.InitialPlan[i]</td>
            <td>@Model.AdjustedPlan[i]</td>
        </tr>
    }
</table>

<a asp-action="Index" class="btn btn-secondary">Back</a>
